**Helpful Material:**

1) https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

2) Helpful function: df.value_counts()

**Learning objective**
*  EDA
*  Getting familiar with datetime operations

In [1]:
# Loading Libraries
import numpy as np
import pandas as pd

# ignoring warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
#load data
chicago_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Chicago_Crime_Detective.csv")

Use the raw data github link above.

Data Columns details:
1. ID: a unique identifier for each observation.

2. Date: the date the crime occurred.
LocationDescription: the location where the crime occurred.

3. Arrest: whether or not an arrest was made for the crime (TRUE if an arrest was made, and FALSE if an arrest was not made).

4. Domestic: whether or not the crime was a domestic crime, meaning that it was committed against a family member (TRUE if it was domestic, and FALSE if it was not domestic).

5. Beat: the area, or "beat" in which the crime occurred. This is the smallest regional division defined by the Chicago police department.

6. District: the police district in which the crime occured. Each district is composed of many beats, and are defined by the Chicago Police Department.

7. CommunityArea: the community area in which the crime occurred. Since the 1920s, Chicago has been divided into what are called "community areas", of which there are now 77. The community areas were devised in an attempt to create socially homogeneous regions.

8. Year: the year in which the crime occurred.
Latitude: the latitude of the location at which the crime occurred.

**Question 1:** What is the Month and Year of the median date in our dataset? *

Enter your answer as "Month Year", without the quotes.
1. January 2006
2. March 2006
3. May 2006  
4. June 2006

In [10]:
chicago_data.tail()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
191636,191636,1310068,1/1/01 0:05,STREET,False,False,1123,NaN,NaN,2001
191637,191637,1313404,1/1/01 0:01,STREET,False,False,2023,NaN,NaN,2001
191638,191638,1313442,1/1/01 0:01,STREET,False,False,911,NaN,NaN,2001
191639,191639,1563324,1/1/01 0:01,STREET,False,False,1712,NaN,NaN,2001
191640,191640,1310463,1/1/01 0:01,STREET,False,False,1911,NaN,NaN,2001

In [31]:
chicago_data['Date'].sort_values(axis=0)

191640    1/1/01 0:01
191639    1/1/01 0:01
191637    1/1/01 0:01
191638    1/1/01 0:01
191634    1/1/01 0:05
             ...
4445      9/9/12 3:30
4444      9/9/12 5:15
4443      9/9/12 7:00
4442      9/9/12 8:20
4441      9/9/12 9:50
Name: Date, Length: 191641, dtype: object

In [38]:
chicago_data['Date'].astype('datetime64').median()

Timestamp('2006-05-21 12:30:00')

**Question 2:** In which month did the lowest motor vehicle thefts occur? *

1. January
2. February 
3. March
4. April

In [39]:
chicago_data.head()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,Month,Datee
0,0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012,12,2012-12-31
1,1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012,12,2012-12-31
2,2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012,12,2012-12-31
3,3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012,12,2012-12-31
4,4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012,12,2012-12-31

In [41]:
chicago_data['Month'].value_counts(ascending=True)

2     13511
4     15280
3     15758
6     16002
5     16035
1     16047
9     16060
11    16063
12    16426
8     16572
7     16801
10    17086
Name: Month, dtype: int64

**Question 3:** In which month did the highest motor vehicle thefts occur? *

1. September
2. October
3. November
4. December

In [43]:
chicago_data['Month'].value_counts(ascending=False)

10    17086
7     16801
8     16572
12    16426
11    16063
9     16060
1     16047
5     16035
6     16002
3     15758
4     15280
2     13511
Name: Month, dtype: int64

**Question 4:** On which day of the week did most motor vehicle thefts occur? 
1. Monday
2. Wednesday
3. Friday 
4. Sunday

In [44]:
chicago_data.head()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,Month,Datee
0,0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012,12,2012-12-31
1,1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012,12,2012-12-31
2,2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012,12,2012-12-31
3,3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012,12,2012-12-31
4,4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012,12,2012-12-31

In [45]:
chicago_data['Date'] = chicago_data["Date"].astype("datetime64")

In [54]:
chicago_data['Day'] = chicago_data['Date'].dt.day_name()

In [55]:
chicago_data['Day'].value_counts(ascending=True)

Sunday       26316
Tuesday      26791
Saturday     27118
Thursday     27319
Monday       27397
Wednesday    27416
Friday       29284
Name: Day, dtype: int64

**Question 5:** Each observation in the dataset represents a motor vehicle theft, and the Arrest variable indicates whether an arrest was later made for this theft. Which month has the largest number of motor vehicle thefts for which an arrest was made? 

1. January  (correct answer)
2. February
3. March
4. April

In [58]:
chicago_data[chicago_data['Arrest'] == True]["Month"].value_counts(ascending=True)

5     1187
6     1230
2     1238
9     1248
4     1252
11    1256
3     1298
7     1324
8     1329
10    1342
12    1397
1     1435
Name: Month, dtype: int64

**Question 6:** Select the incorrect statement 
1. It look like crime decreases from 2002 - 2012
2. It look like crime increases from 2005 - 2008
3. It look like crime increases from 2009 - 2011

In [96]:
chicago_data['Year'].value_counts(sort=False, ascending=False)

2012    14092
2011    15637
2010    15497
2009    12167
2008    14445
2007    14280
2006    16098
2005    16484
2004    16862
2003    16657
2002    18753
2001    20669
Name: Year, dtype: int64

**Question 7:** Crimes for which more arrests were made are in the first half of the time period or the second half of the time period? *
(Note that the time period is from 2001 to 2012, so the middle of the time period is the beginning of 2007.)

1. First half
2. Second half

In [102]:
crimes = chicago_data[chicago_data['Arrest'] == True]

In [104]:
crimes.shape

(15536, 13)

In [154]:
crimes['Year'].quantile(q=0.75)

2007.0

**Question 8:** For what proportion of motor vehicle thefts in 2001 was an arrest made? *
**Note:** In this question, we are asking for an answer as a proportion. Therefore, your answer should take a value between 0 and 1

1. 0.06
2. 0.08
3. 0.10
4. 0.12

In [117]:
len(chicago_data[chicago_data['Year'] == 2001])/len(chicago_data[chicago_data['Year'] == 2001])

1.0

In [132]:
len(chicago_data[chicago_data['Year'] == 2001])

20669

In [136]:
len(chicago_data[(chicago_data['Arrest'] == True) & (chicago_data['Year'] == 2001)])

2152

In [137]:
len(chicago_data[(chicago_data['Arrest'] == True) & (chicago_data['Year'] == 2001)])/len(chicago_data[chicago_data['Year'] == 2001])

0.10411727708161982

**Question 9:** Create a subset of your data, only taking observations for which the theft happened in one of the top five locations for motor vehicle thefts, excluding the "Other" category. Call this new data set "Top5". How many observations are in Top5?

1. 177510 
2. 177515
3. 177520
4. 177525

In [143]:
chicago_data['LocationDescription'].value_counts().head(6)

STREET                            156564
PARKING LOT/GARAGE(NON.RESID.)     14852
OTHER                               4573
ALLEY                               2308
GAS STATION                         2111
DRIVEWAY - RESIDENTIAL              1675
Name: LocationDescription, dtype: int64

In [144]:
top5 = ['STREET','PARKING LOT/GARAGE(NON.RESID.)','ALLEY','GAS STATION','DRIVEWAY - RESIDENTIAL']

In [149]:
chicago_data[chicago_data['LocationDescription'].isin(top5)].shape

(177510, 13)

**Question 10:** On which day of the week do the most motor vehicle thefts at gas stations happen? *

1. Tuesday
2. Thursday
3. Saturday
4. Sunday

In [153]:
chicago_data[chicago_data['LocationDescription'] == 'GAS STATION']['Day'].value_counts()

Saturday     338
Sunday       336
Friday       332
Thursday     282
Monday       280
Wednesday    273
Tuesday      270
Name: Day, dtype: int64